In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv("sales_data.csv")
df

            日付    売り上げ   客数   客単価
0   2021-01-01  549342  125  4395
1   2021-01-02  577869  150  3852
2   2021-01-03  328030  184  1783
3   2021-01-04  317730  156  2037
4   2021-01-05  492476  149  3305
5   2021-01-06  494278  112  4413
6   2021-01-07  446449  118  3783
7   2021-01-08  429130  181  2371
8   2021-01-09  346203  101  3428
9   2021-01-10  520374  151  3446
10  2021-01-11  453313  144  3148
11  2021-01-12  365632  148  2470
12  2021-01-13  549903  156  3525
13  2021-01-14  418857  191  2193
14  2021-01-15  371200  149  2491
15  2021-01-16  464782  186  2499
16  2021-01-17  496719  103  4823
17  2021-01-18  532857  167  3191
18  2021-01-19  335662  111  3024
19  2021-01-20  527748  121  4362
20  2021-01-21  430256  189  2276
21  2021-01-22  457698  198  2312
22  2021-01-23  545799  103  5299
23  2021-01-24  514338  111  4634
24  2021-01-25  330255  103  3206
25  2021-01-26  306648  194  1581
26  2021-01-27  519069  106  4897
27  2021-01-28  585872  109  5375
28  2021-01-29  383079  187  2049
29  2021-01-30  566339  114  4968
30  2021-01-31  564572  183  3085

In [ ]:
df.types